*
{
    padding: 0;
    content: 0;
}


.ques
{
    display: flex;
    align-items: left;
    gap: 10px;
    background-color: grey;
    border : 2px solid black;
    border-radius: 10px;

    
}

button
{
    border: none;
    height: 40px;
    padding: 10px;
    margin-top: 12px;
    margin-left: 5px;
    border-radius: 10px;
}

.ans
{
    background-color: peachpuff;
    height: 40px;
    padding: 10px;
    transition: 0.3s height ease;
}